// ---------------------------------------------
// Breakpoints
// ---------------------------------------------

$breakpoints: (
	tablet: 	'768px',
	desktop: 	'1024px'
);

// ---------------------------------------------
// Maps
// ---------------------------------------------

$colors: (
	01: #aeb6bf,
	02: #fff
);


$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);