$font-main: 'SF UI Text', Arial, Helvetica, sans-serif;
$main-spacing-vertical: 100px;
$main-spacing-vertical_desktop-medium: 40px;
$main-spacing-vertical_handset: 20px;

$screen_desktop-large: 1600px;
$screen_desktop-medium: 1440px;
$screen_desktop-small: 1280px;
$screen_tablet-large: 1024px;
$screen_tablet-large-s: 960px;
$screen_tablet-medium: 840px;
$screen_handset-large: 600px;
