-
	var config = {
		siteTitle: 'grani',
		address: 'Белгородская об, г. Белгород , ул. Преображенская 147',
		phone: '+7 (996) 308 06 06',
		socials: [
			{
				title: 'Instagram',
				url: 'https://instagram.com',
				icon: 'instagram'
			},
			{
				title: 'Вконтакте',
				url: 'https://vk.com',
				icon: 'vk'
			},
			{
				title: 'Youtube',
				url: 'https://www.youtube.com',
				icon: 'youtube'
			}
		]
	};
