block config
	include ../helpers/config

doctype html

html(lang="ru")
	head
		include ../modules/head

		block head

		title #{siteTitle}
	body
		.wrap.wrap_no-spacing
			section.wrapper
				include ../modules/header

				block content

				include ../modules/footer
		include ../modules/svg-inline

		block scripts
