mixin benefits__block(options)
	- options = options || {};
	- var icon = '#' + options.icon;
	- var classes = []
	

	if options.type
		- classes = "benefits__icon_" + options.type

	.benefits__block
		.benefits__icon(class=classes)
			svg.benefits__svg
				use(xlink:href=icon)
		.benefits__title= options.title
		.benefits__more
			svg.benefits__svg
				use(xlink:href="#icon-arrow-medium-right")
